@font-face {
	font-family: 'icomoon';
	src:url('../../fonts/icomoon.eot?-kgswni');
	src:url('../../fonts/icomoon.eot?#iefix-kgswni') format('embedded-opentype'),
		url('../../fonts/icomoon.woff?-kgswni') format('woff'),
		url('../../fonts/icomoon.ttf?-kgswni') format('truetype'),
		url('../../fonts/icomoon.svg?-kgswni#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-up:before {
	content: "\e60b";
}

.icon-arrow-down:before {
	content: "\e60c";
}

.icon-contracts:before {
	content: "\e60a";
}

.icon-contact:before {
	content: "\e600";
}

.icon-invoices:before {
	content: "\e601";
}

.icon-letter:before {
	content: "\e602";
}

.icon-marquee:before {
	content: "\e603";
}

.icon-nominations:before {
	content: "\e604";
}

.icon-search:before {
	content: "\e605";
}

.icon-settings:before {
	content: "\e606";
}

.icon-statements:before {
	content: "\e607";
}

.icon-tickets:before {
	content: "\e608";
}

.icon-volume:before {
	content: "\e609";
}

